",":after;

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: grey transparent grey transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.centrado{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

thead{
  text-align: center;
  background:#c23616;
  color: white;
}
tbody{
  text-align: center;

}

tr{
  height: 2px;
}